/* .loader {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.loader-img {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.loader-img:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #ff6600;
  border-color: #ff6600 transparent #ff6600 transparent;
  animation: loader-img 1.2s linear infinite;
}
@keyframes loader-img {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} */

.loader {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.lds-facebook {
  display: inline-block;
  position: relative;
  width: 25px;
  height: 15px;
}
.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 5px;
  background: #ff6600;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div:nth-child(1) {
  left: 16px;
  animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
  left: 46px;
  animation-delay: 0;
}
@keyframes lds-facebook {
  0% {
    top: 8px;
    height: 22px;
  }
  50%, 100% {
    top: 18px;
    height: 11px;
  }
}
