.button {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 24px;
  height: 24px;
}

.button__line {
  display: block;
  font-size: 0;
  width: 24px;
  height: 3px;
  background-color: #fff;
}

.button__line_left {
  transform: translate(5px, 1px) rotate(45deg);
  transform-origin: left top;
  width: 24px;
}

.button__line_right {
  transform: translate(-3px, -21px) rotate(-45deg);
  transform-origin: right bottom;
  width: 24px;
}

.button__line_hidden {
  display: none;
}

@media(max-width: 768px) {
  .button {
    display: flex;
  }
}