.page {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  min-height: 100vh;
  background-color: #f6f6ef;
}

.page__content {
  max-width: 1280px;
  min-width: 320px;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.link {
  color: #000;
  opacity: .8;
  text-decoration: none;
  word-break: break-all;
}

.link:hover {
  opacity: 1;
}

.content {
  background-color: inherit;
  flex-grow: 1;
  box-sizing: border-box;
  padding: 25px 0;
  width: 100%;
  border-bottom: 3px solid rgb(255, 102, 0);
}

@media (max-width: 1295px) {
  .page__content {
    max-width: calc(100% - 80px);
  }
}

@media (max-width: 768px) {
  .page__content {
    max-width: calc(100% - 50px);
  }
}
