.page {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  min-height: 100vh;
  background-color: rgb(246, 246, 239);
}

.page__content {
  max-width: 1280px;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.link {
  opacity: .8;
}

.link:hover {
  opacity: 1;
}