.header {
  width: 100%;
  background-color: #ff6600;
  box-sizing: border-box;
  padding: 15px;
  display: flex;
  align-items: center;
}

.header__logo {
  margin-right: 15px;
  display: block;
  width: 155px;
  height: 35px;
  background-image: url(../../images/icon.png);
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}