.navbar {
  flex-grow: 1;
}

.navbar__list {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar__item {
  padding: 0 8px;
  border-right: 2px solid #000;
  cursor: pointer;
  position: relative;
}

.navbar_item:last-of-type {
  border: none;
}

@media (max-width: 768px) {

  .navbar__item {
    padding: 5px;
    border-right: none;
    cursor: pointer;
    font-size: 16px;
    line-height: 16px;
  }

  .navbar__list {
    flex-direction: column;
    gap: 5px;
    font-size: 12px;
    line-height: 14px;
  }

  .header__login {
    font-size: 16px;
    line-height: 16px;
  }
}