.footer {
  background-color: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 80px;
  box-sizing: border-box;
  padding: 15px 15px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
}

.footer__text {
  margin: 0;
  text-align: center;
}

.text {
  color: rgb(100, 99, 99);
}

@media (max-width: 768px) {
  .footer {
    font-size: 12px;
    line-height: 14px;
    gap: 10px
  }
}

@media (max-width: 475px) {

  .footer {
    padding: 15px;
    font-size: 16px;
    line-height: 16px;
    gap: 10px
  }
}