.footer {
  background-color: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  min-height: 120px;
  box-sizing: border-box;
  padding: 25px 0;
}

.footer__text {
  margin: 0;
}

.text {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 18px;
  color: rgb(100, 99, 99);
}

.footer__navbar {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
}

.form {
  display: flex;
  align-items: center;
}

.form__title {
  margin: 0 8px 0 0;
}

.form__input {
  min-height: 20px;
  box-sizing: border-box;
  padding: 8px;
}